html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1} body{background-color: #535353;}
ol,ul{list-style:none} 
h1{font-size:2em}h2{font-size:1.75em}h3{font-size:1.5em}h1,h2,h3,h4,h5,h6{font-family:"Bookman"}p,ul,li{font-family:"Arial"}

/* navbar CSS*/
.navbar{width:1080px;margin:auto;box-sizing:border-box;padding-top:25px; border-bottom:4px solid black;background:rgba(255,255,255,0.85)}@media (max-width: 1080px)
{.navbar{width:100% !important}}
.navbar a{color:black;text-decoration: none}
.navbar a:hover{color:#7400c2;-webkit-transition-duration: 0.2s; transition-duration: 0.2s}
.table{display:table; margin:0 auto;vertical-align: middle;text-align: center;padding-bottom: 10px}
ul#horizontal-list{min-width: 600px;list-style: none; width:100%}
ul#horizontal-list li{display: inline; padding:0 1% 0 1%;font-size:1.3em}

/* homepage CSS*/
.container{width:1080px;margin:auto;box-sizing:border-box;margin-top:30px;border-top:4px solid #3d0364}@media (max-width: 1080px){.container{width:100% !important}} 
.profile{padding:30px;background:rgba(255, 255, 255, 0.85);overflow:auto}
.profile a{color:#7400c2;text-decoration: none} 
.profile a:hover{color: #2d004b; -webkit-transition-duration: 0.2s; transition-duration: 0.2s}
.profile .profile-image{width:50%;height:60%;float:left;padding-right:15px;text-align:right}
.profile .profile-image img{width:80%; border:4px solid #4b4b4bf5}
.profile .profile-info-container{min-height:400px;display:flex;align-items:flex-start;}
.profile .profile-info-container .profile-info{padding-left:15px;width:435px;float:left;}
.profile .profile-info-container .profile-info h2{font-weight:bold;font-size:2em}
.profile .profile-info-container p{margin-top:15px}
.profile ul{list-style-type:square;padding-left:30px;line-height:1.4em; font-size:1.3em}
.profile ul li{margin-top:10px}
.clear{clear:both}
.projects{padding:2px 30px 30px 30px;background:rgba(255,255,255,0.85); border-top:4px solid #3d0364; margin-top:30px}
.projects .proj-title{padding:10px 0 10px 0; border: 4px solid #4b4b4bf5; background: #686868cc}
.projects .proj-title h4{text-align: center; color:#ffffff; font-size: 2em}
.projects h2{padding:10px 0 10px 0;}
.project-list-item{position:relative; min-height: 350px}
.project-list-item .project-media{width:50%; height:100%; float:left; padding-right:50px;text-align:left;}
.project-list-item .project-media iframe{padding-bottom: 30px; width:100%; height: 100%; min-height: 275px; min-width: 275px;}
.project-list-item .project-media button{border-radius: 4px; background-color:rgba(255,255,255,0.75);color:black;border:2px solid #3d0364;padding:15px 40px; 
font-family: "Arial"}
.project-list-item .project-media button:hover{border-radius:4px;background-color:#3d0364;color:white;border:2px solid #3d0364;padding:15px 40px; 
-webkit-transition-duration:0.4s;transition-duration: 0.4s;}
.project-list-item .project-description{height:100%;display:flex;align-items:flex-start;min-width:300px;}
.project-list-item .project-description .project-info{width:100%;float:left}
.project-list-item .project-description .project-info h3{padding-bottom: 15px}
.project-list-item .project-description .project-info p{padding-bottom: 20px; line-height:20px}

/* CSS for individual project pages*/
.project-page{background:rgba(255, 255, 255, 0.85);overflow: auto}
.project-page .project-header{margin-left: 5%;margin-right: 5%;height:500px}
.project-page .project-header h4{font-size: 2em; text-align: center; padding:1% 0 1% 0}
.project-page .project-header iframe{width:100%; height: 100%; border: 5px solid #3d0364cc}
.project-page .project-body{padding:80px 5% 50px 5% ;font-size: 1.1em}
.project-page .project-body a{color:#7400c2;text-decoration: none}
.project-page .project-body a:hover{color: #2d004b; -webkit-transition-duration: 0.2s; transition-duration: 0.2s}
.project-page .project-body h2{margin-bottom: 10px}
.project-page .project-body h4{text-align: center; margin-bottom: 10px}
.project-page .project-body p{margin-bottom: 10px;line-height: 1.5em}
.project-page .project-body ul{list-style-type: square;margin-left: 5%; font-size:1.1em}
.project-page .project-body li{margin-bottom: 10px}
